.header {
	width: 100%;
	height: 5vw;
	max-height: 70px;
	background-color: #f23443;
	display: flex;
	align-items: center;
	font-size: 1.8vw;
	min-height: 50px;
	position: relative;
}

.header__text {
	position: absolute;
	width: 35%;
	min-width: 60px;
	left: 5%;
	cursor: pointer;
	margin: 0;
	font-weight: bold;
	/*
	Fluid typography:   
	font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
	*/
	font-size: calc(16px + (40 - 16) * ((100vw - 300px) / (1600 - 300)));
}
