body {
  background-color: #30475e;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #30475e;
}

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #e8e8e8;
  margin: 0;
  padding: 0;
}
