.searchBar {
	position: absolute;
	width: 45vw !important;
	right: 5%;
	width: 65%;
	height: 80% !important;
	max-width: 600px;
	max-height: 40px;
	background-color: #3c454a !important;
}

.ForwardRef-searchContainer-7 {
	display: flex !important;
	text-align: center !important;
}

.MuiInput-input,
.MuiInputBase-root {
	color: #e8e8e8 !important;
}
